@model List<WebTranslateHelper.Models.Entities.Sentence>

<h1>Sentences</h1>

<table class="table">
    <thead>
        <tr>
            <th>Foreign Sentence</th>
            <th>Native Sentence</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var sentence in Model)
        {
            <tr>
                <td>@sentence.ForeignSentence</td>
                <td>@sentence.NativeSentece</td>
            </tr>
        }
    </tbody>
</table>
