@{
    ViewData["Title"] = "Home Page";
}

<div>
    <a class="btn btn-primary" asp-controller="Sentence" asp-action="AddSentence">Add Sentence</a>
    <a class="btn btn-primary ms-2" asp-controller="Sentence" asp-action="List">List of sentences</a>
</div>